body {
    background-color: #e0dcdc;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.content {
}

.header-bar {
    height: 50px;
    float: right;
}

.header-content {
    height: 100px;
    text-align: center;
    margin-left: 400px;
}

.header-title {
    float: left;
}

.header-search {
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}

.header-search-input {
    width: 440px;
    height: 38px;
    border-radius: 6px;
    border: none;
    background-color: #ffffff;
}

.food-detail {
    border-radius: 6px;
    border: none;
    background-color: #ffffff;
    float: left;
    width: 850px;
    height: 340px;
    margin-left: 340px;
}

.info {
    margin-top: 60px;
    margin-left: 100px;
    line-height: 30px;
}

.info-title {
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}

.info-score {
    color: #333333;
}

.info-price {
    color: #666666;
}

.img {
    margin-top: -130px;
    margin-right: 40px;
    float: right;
}

.order-button {
    width: 66px;
    height: 32px;
    border-radius: 4px;
    background-color: #ffc300;
    border: none;
    margin-top: 20px;
    margin-left: 100px;
}
